<div align='center'>
  <h1>Carlos Martinez 👨‍💻</h1>

  <p>
    <a href='https://www.linkedin.com/in/k4rlosdev'>
      <img src='https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white' height=25>
    </a>
    <a href='https://www.twitter.com/k4rlosdev'>
      <img src='https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white' height=25>
    </a>
    <a href='https://www.instagram.com/k4rlosdev/'>
      <img src='https://img.shields.io/badge/instagram-%23E4405F.svg?&style=for-the-badge&logo=instagram&logoColor=white' height=25>
      </a>
  </p>

  <p>
    ¡Bienvenido a mi GitHub!🚀 Soy desarrollador full stack, soy de El Salvador🌎 mi pasión es programar 💻
  </p>

  <h3>Open source projects</h3>

  <table>
    <thead align='center'>
      <tr border: none;>
        <td><b>🎁 Projects</b></td>
        <td><b>⭐ Stars</b></td>
        <td><b>📚 Forks</b></td>
        <td><b>🛎 Issues</b></td>
        <td><b>📬 Pull requests</b></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href='https://github.com/k4rlosdev/k4rlosdev'><b>Dynamic README.md</b></a></td>
        <td><img alt='Stars' src='https://img.shields.io/github/stars/k4rlosdev/k4rlosdev?style=flat-square&labelColor=343b41'/></td>
        <td><img alt='Forks' src='https://img.shields.io/github/forks/k4rlosdev/k4rlosdev?style=flat-square&labelColor=343b41'/></td>
        <td><img alt='Issues' src='https://img.shields.io/github/issues/k4rlosdev/k4rlosdev?style=flat-square&labelColor=343b41'/></td>
        <td><img alt='Pull Requests' src='https://img.shields.io/github/issues-pr/k4rlosdev/k4rlosdev?style=flat-square&labelColor=343b41'/></td>
      </tr>
    </tbody>
  </table>

  <h3>My latest posts</h3>

  <figure style="display: -ms-grid;display: grid;grid-gap: 1rem;grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));justify-items: center;margin: 0;padding: 0;">
    <figure style="padding: 1rem;">
      {{#img1}}
      <img style="border-radius: 30px;height: auto;max-width: 100%;object-fit: cover;" crossorigin='anonymous' src='{{{img1}}}' />
      {{/img1}}
      {{^img1}}
      <img style="border-radius: 30px;height: auto;max-width: 100%;object-fit: cover;" crossorigin='anonymous' src='./images/default.png' />
      {{/img1}}
    </figure>
    <figure style="padding: 1rem;">
      {{#img2}}
      <img style="border-radius: 30px;height: auto;max-width: 100%;object-fit: cover;" crossorigin='anonymous' src='{{{img2}}}' />
      {{/img2}}
      {{^img2}}
      <img style="border-radius: 30px;height: auto;max-width: 100%;object-fit: cover;" crossorigin='anonymous' src='./images/default.png' />
      {{/img2}}
    </figure>
    <figure style="padding: 1rem;">
      {{#img3}}
      <img style="border-radius: 30px;height: auto;max-width: 100%;object-fit: cover;" crossorigin='anonymous' src='{{{img3}}}' />
      {{/img3}}
      {{^img3}}
      <img style="border-radius: 30px;height: auto;max-width: 100%;object-fit: cover;" crossorigin='anonymous' src='./images/default.png' />
      {{/img3}}
    </figure>
  </div>
</div>

